@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Caveat&family=Gruppo&family=Rubik+Moonrocks&display=swap');

* {
    background-color: rgb(153, 68, 64);
}

.p {
    text-align: center;
    font-size: 4rem;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;
}

.p h4 {
    border-radius: 12px;
    background-color: black;
    color: rgb(129, 62, 58);
    margin: -68px;
    box-shadow: 0px 0px 13px black;
}

img {
    margin: -93px;
    box-shadow: 0px 0px 13px black;
    border: 2px solid black;
    border-radius: 18px;
    width: 468px;
    height: 428px;
    padding: 0px -12px;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: serif;
    overflow: hidden;
}

ul {
    margin: 0 25%;
    padding: 0;
    display: flex;
}

ul li {
    position: relative;
    list-style: none;
}

ul li a {
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 4em;
    margin: 0 100px;
    white-space: nowrap;
    padding: 5px 20px;
    transition: 0.5s;
    border-radius: 19px;
    font-family: 'Caveat', cursive;
    z-index: 2;
}

ul li:hover a {
    transition: 0.9s;
    background: #000;
    color: #fff;
}


ul li div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-350px);
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: 0.7s;
}

ul li:hover div {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-392px);
}


ul li:nth-child(even) div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-58px);
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: 0.7s;
}

ul li:nth-child(even):hover div {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(25px);
}


/* Card Content */
ul li div {
    font-family: 'Gruppo', sans-serif;
    font-weight: bolder;
    width: 576px;
    box-shadow: 0px 0px 13px black;
    height: 289px;
    background: black;
    color: rgb(174, 87, 82);
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: black;
    color: rgb(174, 87, 82);
    font-size: 43px;
    display: flex;
}

.card1 {
    align-items: center;
    justify-content: center;
    font-size: 42px;
    display: flex;
    background: rgb(9, 164, 151);
    color: black;
}

.card2 {
    align-items: center;
    justify-content: center;
    font-size: 42px;
    display: flex;
}

.card3 {
    background: rgb(9, 164, 151);
    color: black;
    justify-content: center;
    font-size: 42px;
    display: flex;
    align-items: center;
    text-align: center;
}

.card4 {
    align-items: center;
    justify-content: center;
    font-size: 42px;
    display: flex;
}

.card5 {
    background: rgb(9, 164, 151);
    color: black;
    justify-content: center;
    font-size: 42px;
    display: flex;
    align-items: center;
}

.card6 {
    align-items: center;
    justify-content: center;
    font-size: 94px;
    display: flex;
    font-stretch: wider;
}

/* Footer */
.f {
    text-align: center;
    font-size: 4rem;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;
}

.f h4 {
    font-family: 'Rubik Moonrocks';
    border-radius: 12px;
    font-size: 73px;
    color: black;
    box-shadow: 0px 0px 13px black;
    margin: 29px;
}

.f img {
    margin: -47px;
    box-shadow: 0px 0px 13px black;
    border: 2px solid black;
    border-radius: 18px;
    width: 468px;
    height: 428px;
    padding: 0px -12px;
}